{% extends 'base.html' %}

{% block title %}
    상품수정
{% endblock %}
{% block content %}
    <div class="container">
        <div class="wrap">
            <h2 class="title-center"> 상품수정 </h2>
            <form class="form-area" method="post" action="/edit_product/{{ product.code}}/">
                {% csrf_token %}
                <div class="form-group mt-2 mb-2">
                    <label for="code">상품코드</label>
                    <input type="text" class="form-control" id="code" name="code" value="{{ product.code }}" readonly>
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="name">상품명</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}">
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="description">상품설명</label>
                    <input type="text" class="form-control" id="description" name="description" value="{{ product.description }}">
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="price">가격</label>
                    <input type="text" class="form-control" id="price" name="price" value="{{ product.price }}">
                </div>
                <div class="form-group mt-2 mb-2">
                    <input type="radio" id="small" name="size" value="S" {% if product.size == 'S' %}checked{% endif %}>
                    <label for="S">S</label><br>
                    <input type="radio" id="medium" name="size" value="M" {% if product.size == 'M' %}checked{% endif %}>
                    <label for="M">M</label><br>
                    <input type="radio" id="large" name="size" value="L" {% if product.size == 'L' %}checked{% endif %}> 
                    <label for="L">L</label>
                    <input type="radio" id="X-large" name="size" value="XL" {% if product.size == 'XL' %}checked{% endif %}> 
                    <label for="XL">XL</label>
                    <input type="radio" id="free" name="size" value="F" {% if product.size == 'F' %}checked{% endif %}> 
                    <label for="F">F</label>
                </div>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <hr>
                <div style="float: right">
                    <button type="submit" class="btn btn-primary">상품수정</button>
                    <a href="/product" class="btn btn-secondary">상품 페이지로</a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}